@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: auto !important;
}

.line:hover > .line-bg {
  width: 100%;
}

.line:hover > .github-text {
  color: darkgray;
}

.line:hover > .site-text {
  color: lightsalmon;
}
