@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: auto !important;
}

body::-webkit-scrollbar {
  width: 0.3em;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

body::-webkit-scrollbar-thumb {
  background-color: #6d6d6d;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #919191;
}

textarea {
  resize: none;
}

.line-bg {
  height: 2px;
}

.line:hover > .line-bg {
  width: 100%;
}

.line:hover > .github-text {
  color: darkgray;
}

.line:hover > .site-text {
  color: lightsalmon;
}

.type {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
